<a href="https://colab.research.google.com/github/BIM-Master/Hotel-Reviews/blob/Power-Distance/cleaning_power_distance_add.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div class="markdown-google-sans">
  <h1>Welcome to Colab!</h1>
</div>

<!-- TODO(b/319266067) remove temporary advert after a few weeks. -->
<div class="markdown-google-sans">
  <h2>&#40;New&#41; Try the Gemini API</h2>
  <ul>
  <li><a href="https://makersuite.google.com/app/apikey">Generate a Gemini API key</a></li>
  <li><a href="https://colab.research.google.com/github/googlecolab/colabtools/blob/main/notebooks/Talk_to_Gemini_with_Google%27s_Speech_to_Text_API.ipynb?utm_medium=link&utm_campaign=gemini">Talk to Gemini with the Speech-to-Text API</a></li>
  <li><a href="https://colab.research.google.com/github/google/generative-ai-docs/blob/main/site/en/tutorials/quickstart_colab.ipynb?utm_medium=link&utm_campaign=gemini">Gemini API: Quickstart with Python</a></li>
  <li><a href="https://colab.research.google.com/notebooks/snippets/gemini.ipynb?utm_medium=link&utm_campaign=gemini">Gemini API code sample</a></li>
  <li><a href="https://colab.research.google.com/github/googlecolab/colabtools/blob/main/notebooks/Learning_with_Gemini_and_ChatGPT.ipynb?utm_medium=link&utm_campaign=gemini">Compare Gemini with ChatGPT</a></li>  
  <li><a href="https://colab.google/notebooks/?utm_medium=link&utm_campaign=gemini">More notebooks</a></li>
  </ul>
</div>

In [32]:
import pandas as pd

# Load CSV into DataFrame and a temp dataframe
hotel_reviews = pd.read_csv('/content/Hotel_Reviews 2 (1).csv')
temp = hotel_reviews
power_distance_df = pd.read_csv('/content/power_distance_nationalities3.csv', delimiter=';')

In [33]:
columns_to_remove = ["Hotel_Address", "Additional_Number_of_Scoring", "Days_since_review", "lat", "lng"]
#remove unnecessary columns from database of reviews
hotel_reviews_new = temp.drop(columns=columns_to_remove, errors='ignore')

In [34]:
# string split the two relevant columns to ensure no unnecessary spaces at the start or end
hotel_reviews_new['Reviewer_Nationality'] = hotel_reviews_new['Reviewer_Nationality'].str.strip()
power_distance_df['Reviewer_Nationality'] = power_distance_df['Reviewer_Nationality'].str.strip()

# After cleaning, use merge function to add power distance as a new column with the
# corresponding pd value based on nationality
hotel_reviews_new_pd = hotel_reviews_new.merge(power_distance_df, on='Reviewer_Nationality', how='left')
print(hotel_reviews_new_pd.head())

  Review_Date  Average_Score   Hotel_Name Reviewer_Nationality  \
0    8/3/2017            7.7  Hotel Arena               Russia
1    8/3/2017            7.7  Hotel Arena              Ireland
2   7/31/2017            7.7  Hotel Arena            Australia
3   7/31/2017            7.7  Hotel Arena       United Kingdom
4   7/24/2017            7.7  Hotel Arena          New Zealand

                                     Negative_Review  \
0   I am so angry that i made this post available...
1                                        No Negative
2   Rooms are nice but for elderly a bit difficul...
3   My room was dirty and I was afraid to walk ba...
4   You When I booked with your company on line y...

   Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
0                                397                     1403
1                                  0                     1403
2                                 42                     1403
3                                210                     1403
4                                140                     1403

                                     Positive_Review  \
0   Only the park outside of the hotel was beauti...
1   No real complaints the hotel was great great ...
2   Location was good and staff were ok It is cut...
3   Great location in nice surroundings the bar a...
4    Amazing location and building Romantic setting

   Review_Total_Positive_Word_Counts  \
0                                 11
1                                105
2                                 21
3                                 26
4                                  8

   Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
0                                           7             2.9
1                                           7             7.5
2                                           9             7.1
3                                           1             3.8
4                                           3             6.7

                                                Tags days_since_review  \
0  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
1  [' Leisure trip ', ' Couple ', ' Duplex Double...            0 days
2  [' Leisure trip ', ' Family with young childre...            3 days
3  [' Leisure trip ', ' Solo traveler ', ' Duplex...            3 days
4  [' Leisure trip ', ' Couple ', ' Suite ', ' St...           10 days

  Power_Distance
0             93
1             28
2             38
3             35
4             22

In [35]:
#print unique power distance values
unique_pd = hotel_reviews_new_pd['Power_Distance'].unique()
print("Unique pd:", unique_pd)

############ continues, check for nan and print corresponding nationalities##############
nan_power_distance = hotel_reviews_new_pd[hotel_reviews_new_pd['Power_Distance'].isna()]

# Get distinct nationalities that have NaN in 'Power_Distance' (i.e the ones we need to add
# to the pd dataframe in order to do a succesful and complete implementation of the pd variable)
distinct_nationalities_with_nan = nan_power_distance['Reviewer_Nationality'].unique()

# Print the distinct nationalities with NaN values in 'Power_Distance'
print("NATIONALITIES WITH NAN VALUES:")
print(distinct_nationalities_with_nan)

######## any values printed by the above function must be either removed due to a blank entry or
######## that nationlity needs to be added to the list of nationalities in the pd dataframe

Unique pd: ['93' '28' '38' '35' '22' '68' '65' '31' '50' '39' '40' '46' '13' '34'
 '77' '90' '104' '18' '49' '70' '33' '63' '57' '56' '80' '66' '92' '73'
 '95' '42' '71' '11' '69' '58' '30' '75' '60' '64' '74' '35,00' '44' '54'
 '100' '86' '78' '94' '88' '61' '55' '85' nan '47' '81' '83' '67' '97'
 '45' '82' '0' '39,00' '65,00']
NATIONALITIES WITH NAN VALUES:
['']

In [39]:
print(hotel_reviews_new.info()); print(hotel_reviews_new.describe(include='all'))
print(hotel_reviews_new_pd.info()); print(hotel_reviews_new.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 13 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Review_Date                                 515738 non-null  object
 1   Average_Score                               515738 non-null  float64
 2   Hotel_Name                                  515738 non-null  object
 3   Reviewer_Nationality                        515738 non-null  object
 4   Negative_Review                             515738 non-null  object
 5   Review_Total_Negative_Word_Counts           515738 non-null  int64
 6   Total_Number_of_Reviews                     515738 non-null  int64
 7   Positive_Review                             515738 non-null  object
 8   Review_Total_Positive_Word_Counts           515738 non-null  int64
 9   Total_Number_of_Reviews_Reviewer_Has_Given  515738 non-null  int64
 10  Reviewer_Score                              515738 non-null  float64
 11  Tags                                        515738 non-null  object
 12  days_since_review                           515738 non-null  object
dtypes: float64(2), int64(4), object(7)
memory usage: 51.2+ MB
None
       Review_Date  Average_Score                                  Hotel_Name  \
count       515738  515738.000000                                      515738
unique         731            NaN                                        1492
top       8/2/2017            NaN  Britannia International Hotel Canary Wharf
freq          2585            NaN                                        4789
mean           NaN       8.397487                                         NaN
std            NaN       0.548048                                         NaN
min            NaN       5.200000                                         NaN
25%            NaN       8.100000                                         NaN
50%            NaN       8.400000                                         NaN
75%            NaN       8.800000                                         NaN
max            NaN       9.800000                                         NaN

       Reviewer_Nationality Negative_Review  \
count                515738          515738
unique                  227          330011
top          United Kingdom     No Negative
freq                 245246          127890
mean                    NaN             NaN
std                     NaN             NaN
min                     NaN             NaN
25%                     NaN             NaN
50%                     NaN             NaN
75%                     NaN             NaN
max                     NaN             NaN

        Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
count                       515738.000000            515738.000000
unique                                NaN                      NaN
top                                   NaN                      NaN
freq                                  NaN                      NaN
mean                            18.539450              2743.743944
std                             29.690831              2317.464868
min                              0.000000                43.000000
25%                              2.000000              1161.000000
50%                              9.000000              2134.000000
75%                             23.000000              3613.000000
max                            408.000000             16670.000000

       Positive_Review  Review_Total_Positive_Word_Counts  \
count           515738                      515738.000000
unique          412601                                NaN
top        No Positive                                NaN
freq             35946                                NaN
mean               NaN                          17.776458
std                NaN                          21.804185
min                NaN                           0.000000
25%                NaN                           5.000000
50%                NaN                          11.000000
75%                NaN                          22.000000
max                NaN                         395.000000

        Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
count                                515738.000000   515738.000000
unique                                         NaN             NaN
top                                            NaN             NaN
freq                                           NaN             NaN
mean                                      7.166001        8.395077
std                                      11.040228        1.637856
min                                       1.000000        2.500000
25%                                       1.000000        7.500000
50%                                       3.000000        8.800000
75%                                       8.000000        9.600000
max                                     355.000000       10.000000

                                                     Tags days_since_review
count                                              515738            515738
unique                                              55242               731
top     [' Leisure trip ', ' Couple ', ' Double Room '...            1 days
freq                                                 5101              2585
mean                                                  NaN               NaN
std                                                   NaN               NaN
min                                                   NaN               NaN
25%                                                   NaN               NaN
50%                                                   NaN               NaN
75%                                                   NaN               NaN
max                                                   NaN               NaN
<class 'pandas.core.frame.DataFrame'>
Index: 515223 entries, 0 to 515745
Data columns (total 14 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Review_Date                                 515223 non-null  object
 1   Average_Score                               515223 non-null  float64
 2   Hotel_Name                                  515223 non-null  object
 3   Reviewer_Nationality                        515223 non-null  object
 4   Negative_Review                             515223 non-null  object
 5   Review_Total_Negative_Word_Counts           515223 non-null  int64
 6   Total_Number_of_Reviews                     515223 non-null  int64
 7   Positive_Review                             515223 non-null  object
 8   Review_Total_Positive_Word_Counts           515223 non-null  int64
 9   Total_Number_of_Reviews_Reviewer_Has_Given  515223 non-null  int64
 10  Reviewer_Score                              515223 non-null  float64
 11  Tags                                        515223 non-null  object
 12  days_since_review                           515223 non-null  object
 13  Power_Distance                              515223 non-null  object
dtypes: float64(2), int64(4), object(8)
memory usage: 59.0+ MB
None
       Review_Date  Average_Score                                  Hotel_Name  \
count       515738  515738.000000                                      515738
unique         731            NaN                                        1492
top       8/2/2017            NaN  Britannia International Hotel Canary Wharf
freq          2585            NaN                                        4789
mean           NaN       8.397487                                         NaN
std            NaN       0.548048                                         NaN
min            NaN       5.200000                                         NaN
25%            NaN       8.100000                                         NaN
50%            NaN       8.400000                                         NaN
75%            NaN       8.800000                                         NaN
max            NaN       9.800000                                         NaN

       Reviewer_Nationality Negative_Review  \
count                515738          515738
unique                  227          330011
top          United Kingdom     No Negative
freq                 245246          127890
mean                    NaN             NaN
std                     NaN             NaN
min                     NaN             NaN
25%                     NaN             NaN
50%                     NaN             NaN
75%                     NaN             NaN
max                     NaN             NaN

        Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
count                       515738.000000            515738.000000
unique                                NaN                      NaN
top                                   NaN                      NaN
freq                                  NaN                      NaN
mean                            18.539450              2743.743944
std                             29.690831              2317.464868
min                              0.000000                43.000000
25%                              2.000000              1161.000000
50%                              9.000000              2134.000000
75%                             23.000000              3613.000000
max                            408.000000             16670.000000

       Positive_Review  Review_Total_Positive_Word_Counts  \
count           515738                      515738.000000
unique          412601                                NaN
top        No Positive                                NaN
freq             35946                                NaN
mean               NaN                          17.776458
std                NaN                          21.804185
min                NaN                           0.000000
25%                NaN                           5.000000
50%                NaN                          11.000000
75%                NaN                          22.000000
max                NaN                         395.000000

        Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
count                                515738.000000   515738.000000
unique                                         NaN             NaN
top                                            NaN             NaN
freq                                           NaN             NaN
mean                                      7.166001        8.395077
std                                      11.040228        1.637856
min                                       1.000000        2.500000
25%                                       1.000000        7.500000
50%                                       3.000000        8.800000
75%                                       8.000000        9.600000
max                                     355.000000       10.000000

                                                     Tags days_since_review
count                                              515738            515738
unique                                              55242               731
top     [' Leisure trip ', ' Couple ', ' Double Room '...            1 days
freq                                                 5101              2585
mean                                                  NaN               NaN
std                                                   NaN               NaN
min                                                   NaN               NaN
25%                                                   NaN               NaN
50%                                                   NaN               NaN
75%                                                   NaN               NaN
max                                                   NaN               NaN

In [38]:
hotel_reviews_new_pd = hotel_reviews_new_pd.dropna(subset=['Power_Distance'])

In [37]:
empty_count = hotel_reviews_new_pd['Power_Distance'].isna().sum()
print(empty_count)

523

<div class="markdown-google-sans">
  <h2>What is Colab?</h2>
</div>

Colab, or ‘Colaboratory’, allows you to write and execute Python in your browser, with
- Zero configuration required
- Access to GPUs free of charge
- Easy sharing

Whether you're a <strong>student</strong>, a <strong>data scientist</strong> or an <strong>AI researcher</strong>, Colab can make your work easier. Watch <a href="https://www.youtube.com/watch?v=inN8seMm7UI">Introduction to Colab</a> to find out more, or just get started below!

<div class="markdown-google-sans">

## More resources

### Working with notebooks in Colab

</div>

- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Guide to markdown](/notebooks/markdown_guide.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Saving and loading notebooks in GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/main/notebooks/colab-github-demo.ipynb)
- [Interactive forms](/notebooks/forms.ipynb)
- [Interactive widgets](/notebooks/widgets.ipynb)

<div class="markdown-google-sans">

<a name="working-with-data"></a>
### Working with data
</div>

- [Loading data: Drive, Sheets and Google Cloud Storage](/notebooks/io.ipynb)
- [Charts: visualising data](/notebooks/charts.ipynb)
- [Getting started with BigQuery](/notebooks/bigquery.ipynb)

<div class="markdown-google-sans">

### Machine learning crash course

<div>

These are a few of the notebooks from Google's online machine learning course. See the <a href="https://developers.google.com/machine-learning/crash-course/">full course website</a> for more.
- [Intro to Pandas DataFrame](https://colab.research.google.com/github/google/eng-edu/blob/main/ml/cc/exercises/pandas_dataframe_ultraquick_tutorial.ipynb)
- [Linear regression with tf.keras using synthetic data](https://colab.research.google.com/github/google/eng-edu/blob/main/ml/cc/exercises/linear_regression_with_synthetic_data.ipynb)

<div class="markdown-google-sans">

<a name="using-accelerated-hardware"></a>
### Using accelerated hardware
</div>

- [TensorFlow with GPUs](/notebooks/gpu.ipynb)
- [TensorFlow with TPUs](/notebooks/tpu.ipynb)

<div class="markdown-google-sans">

<a name="machine-learning-examples"></a>

### Featured examples

</div>

- <a href="https://colab.research.google.com/github/NVIDIA/NeMo/blob/stable/tutorials/VoiceSwapSample.ipynb">NeMo voice swap</a>: Use Nvidia NeMo conversational AI toolkit to swap a voice in an audio fragment with a computer-generated one.

- <a href="https://tensorflow.org/hub/tutorials/tf2_image_retraining">Retraining an Image Classifier</a>: Build a Keras model on top of a pre-trained image classifier to distinguish flowers.
- <a href="https://tensorflow.org/hub/tutorials/tf2_text_classification">Text Classification</a>: Classify IMDB film reviews as either <em>positive</em> or <em>negative</em>.
- <a href="https://tensorflow.org/hub/tutorials/tf2_arbitrary_image_stylization">Style Transfer</a>: Use deep learning to transfer style between images.
- <a href="https://tensorflow.org/hub/tutorials/retrieval_with_tf_hub_universal_encoder_qa">Multilingual Universal Sentence Encoder Q&amp;A</a>: Use a machine-learning model to answer questions from the SQuAD dataset.
- <a href="https://tensorflow.org/hub/tutorials/tweening_conv3d">Video Interpolation</a>: Predict what happened in a video between the first and the last frame.