<a href="https://colab.research.google.com/github/BIM-Master/Hotel-Reviews/blob/Power-Distance/cleaning_power_distance_add.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div class="markdown-google-sans">
  <h1>Welcome to Colab!</h1>
</div>

<!-- TODO(b/319266067) remove temporary advert after a few weeks. -->
<div class="markdown-google-sans">
  <h2>&#40;New&#41; Try the Gemini API</h2>
  <ul>
  <li><a href="https://makersuite.google.com/app/apikey">Generate a Gemini API key</a></li>
  <li><a href="https://colab.research.google.com/github/googlecolab/colabtools/blob/main/notebooks/Talk_to_Gemini_with_Google%27s_Speech_to_Text_API.ipynb?utm_medium=link&utm_campaign=gemini">Talk to Gemini with the Speech-to-Text API</a></li>
  <li><a href="https://colab.research.google.com/github/google/generative-ai-docs/blob/main/site/en/tutorials/quickstart_colab.ipynb?utm_medium=link&utm_campaign=gemini">Gemini API: Quickstart with Python</a></li>
  <li><a href="https://colab.research.google.com/notebooks/snippets/gemini.ipynb?utm_medium=link&utm_campaign=gemini">Gemini API code sample</a></li>
  <li><a href="https://colab.research.google.com/github/googlecolab/colabtools/blob/main/notebooks/Learning_with_Gemini_and_ChatGPT.ipynb?utm_medium=link&utm_campaign=gemini">Compare Gemini with ChatGPT</a></li>  
  <li><a href="https://colab.google/notebooks/?utm_medium=link&utm_campaign=gemini">More notebooks</a></li>
  </ul>
</div>

In [93]:
import pandas as pd

# Load CSV into DataFrame and a temp dataframe
hotel_reviews = pd.read_csv('/content/Hotel_Reviews 2 (1).csv')
temp = hotel_reviews
power_distance_df = pd.read_csv('/content/power_distance_nationalities_final.csv', delimiter=';')

In [94]:
columns_to_remove = ["Hotel_Address", "Additional_Number_of_Scoring", "Days_since_review", "lat", "lng"]
#remove unnecessary columns from database of reviews
hotel_reviews_new = temp.drop(columns=columns_to_remove, errors='ignore')

In [95]:
# create new dataframe in which no duplicates exist
hotel_reviews_clean = hotel_reviews_new.drop_duplicates()

In [96]:
# string split the two relevant columns to ensure no unnecessary spaces at the start or end
hotel_reviews_clean['Reviewer_Nationality'] = hotel_reviews_clean['Reviewer_Nationality'].str.strip()
power_distance_df['Reviewer_Nationality'] = power_distance_df['Reviewer_Nationality'].str.strip()

# After cleaning, use merge function to add power distance as a new column with the
# corresponding pd value based on nationality and save it into a new data frame
hotel_reviews_new_pd = hotel_reviews_clean.merge(power_distance_df, on='Reviewer_Nationality', how='left')

<ipython-input-96-b69808ccd758>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_reviews_clean['Reviewer_Nationality'] = hotel_reviews_clean['Reviewer_Nationality'].str.strip()

In [66]:
'''
#print unique power distance values
unique_pd = hotel_reviews_new_pd['Power_Distance'].unique()
print("Unique pd:", unique_pd)

############ continues, check for nan and print corresponding nationalities##############
nan_power_distance = hotel_reviews_new_pd[hotel_reviews_new_pd['Power_Distance'].isna()]

# Get distinct nationalities that have NaN in 'Power_Distance' (i.e the ones we need to add
# to the pd dataframe in order to do a succesful and complete implementation of the pd variable)
distinct_nationalities_with_nan = nan_power_distance['Reviewer_Nationality'].unique()

# Print the distinct nationalities with NaN values in 'Power_Distance'
print("NATIONALITIES WITH NAN VALUES:")
print(distinct_nationalities_with_nan)

######## any values printed by the above function must be either removed due to a blank entry or
######## that nationlity needs to be added to the list of nationalities in the pd dataframe

Unique pd: [ 93.  28.  38.  35.  22.  68.  65.  31.  50.  39.  40.  46.  13.  34.
  77.  90. 104.  18.  49.  70.  33.  63.  57.  56.  80.  66.  92.  73.
  95.  42.  71.  11.  69.  58.  30.  75.  60.  64.  74.  44.  54. 100.
  86.  78.  94.  88.  61.  55.  85.  47.  81.  83.  67.  97.  45.  82.
   0.]
NATIONALITIES WITH NAN VALUES:
[]

In [97]:
hotel_reviews_new_pd = hotel_reviews_new_pd.dropna(subset=['Power_Distance'])

In [98]:
print(hotel_reviews_new_pd.info()); print(hotel_reviews_new_pd.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
Index: 514690 entries, 0 to 515211
Data columns (total 14 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Review_Date                                 514690 non-null  object
 1   Average_Score                               514690 non-null  float64
 2   Hotel_Name                                  514690 non-null  object
 3   Reviewer_Nationality                        514690 non-null  object
 4   Negative_Review                             514690 non-null  object
 5   Review_Total_Negative_Word_Counts           514690 non-null  int64
 6   Total_Number_of_Reviews                     514690 non-null  int64
 7   Positive_Review                             514690 non-null  object
 8   Review_Total_Positive_Word_Counts           514690 non-null  int64
 9   Total_Number_of_Reviews_Reviewer_Has_Given  514690 non-null  int64
 10  Reviewer_Score                              514690 non-null  float64
 11  Tags                                        514690 non-null  object
 12  days_since_review                           514690 non-null  object
 13  Power_Distance                              514690 non-null  float64
dtypes: float64(3), int64(4), object(7)
memory usage: 58.9+ MB
None
       Review_Date  Average_Score                                  Hotel_Name  \
count       514690  514690.000000                                      514690
unique         731            NaN                                        1492
top       8/2/2017            NaN  Britannia International Hotel Canary Wharf
freq          2581            NaN                                        4786
mean           NaN       8.397835                                         NaN
std            NaN       0.547931                                         NaN
min            NaN       5.200000                                         NaN
25%            NaN       8.100000                                         NaN
50%            NaN       8.400000                                         NaN
75%            NaN       8.800000                                         NaN
max            NaN       9.800000                                         NaN

       Reviewer_Nationality Negative_Review  \
count                514690          514690
unique                  226          329659
top          United Kingdom     No Negative
freq                 245110          127633
mean                    NaN             NaN
std                     NaN             NaN
min                     NaN             NaN
25%                     NaN             NaN
50%                     NaN             NaN
75%                     NaN             NaN
max                     NaN             NaN

        Review_Total_Negative_Word_Counts  Total_Number_of_Reviews  \
count                       514690.000000            514690.000000
unique                                NaN                      NaN
top                                   NaN                      NaN
freq                                  NaN                      NaN
mean                            18.540838              2744.578575
std                             29.694889              2317.857771
min                              0.000000                43.000000
25%                              2.000000              1161.000000
50%                              9.000000              2134.000000
75%                             23.000000              3633.000000
max                            408.000000             16670.000000

       Positive_Review  Review_Total_Positive_Word_Counts  \
count           514690                      514690.000000
unique          412240                                NaN
top        No Positive                                NaN
freq             35835                                NaN
mean               NaN                          17.783153
std                NaN                          21.807337
min                NaN                           0.000000
25%                NaN                           5.000000
50%                NaN                          11.000000
75%                NaN                          22.000000
max                NaN                         395.000000

        Total_Number_of_Reviews_Reviewer_Has_Given  Reviewer_Score  \
count                                514690.000000   514690.000000
unique                                         NaN             NaN
top                                            NaN             NaN
freq                                           NaN             NaN
mean                                      7.169121        8.395924
std                                      11.043065        1.637299
min                                       1.000000        2.500000
25%                                       1.000000        7.500000
50%                                       3.000000        8.800000
75%                                       8.000000        9.600000
max                                     355.000000       10.000000

                                                     Tags days_since_review  \
count                                              514690            514690
unique                                              55210               731
top     [' Leisure trip ', ' Couple ', ' Double Room '...            1 days
freq                                                 5100              2581
mean                                                  NaN               NaN
std                                                   NaN               NaN
min                                                   NaN               NaN
25%                                                   NaN               NaN
50%                                                   NaN               NaN
75%                                                   NaN               NaN
max                                                   NaN               NaN

        Power_Distance
count    514690.000000
unique             NaN
top                NaN
freq               NaN
mean         45.126288
std          19.413205
min           0.000000
25%          35.000000
50%          35.000000
75%          50.000000
max         104.000000