<a href="https://colab.research.google.com/github/BIM-Master/Hotel-Reviews/blob/main/Hotel_reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.4)

In [3]:
import nltk

In [4]:
from nltk.tokenize import word_tokenize

In [5]:
import pandas as pd

In [6]:
Hotel_df = pd.read_csv("/content/Hotel_Reviews 2.csv")

In [7]:
Hotel_df

,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,lat,lng
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,52.360576,4.915968
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,52.360576,4.915968
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,52.360576,4.915968
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,52.360576,4.915968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,48.203745,16.335677
515734,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,48.203745,16.335677
515735,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,48.203745,16.335677
515736,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,48.203745,16.335677
515737,Wurzbachgasse 21 15 Rudolfsheim F nfhaus 1150 ...,168,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,48.203745,16.335677

Removing attributes

In [8]:
columns_to_remove = ["Hotel_Address", "Additional_Number_of_Scoring", "Days_since_review", "lat", "lng"]

Hotel_df = Hotel_df.drop(columns=columns_to_remove, errors='ignore')

"Naming, Hotel_df cleaned & test it"

Tokenization

In [9]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [10]:
Hotel_df['Negative_Review_tokenized'] = Hotel_df['Negative_Review'].apply(lambda x: word_tokenize(x))
Hotel_df['Positive_Review_tokenized'] = Hotel_df['Positive_Review'].apply(lambda x: word_tokenize(x))

In [11]:
Hotel_df

,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,Negative_Review_tokenized,Positive_Review_tokenized
0,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,"[I, am, so, angry, that, i, made, this, post, ...","[Only, the, park, outside, of, the, hotel, was..."
1,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,"[No, Negative]","[No, real, complaints, the, hotel, was, great,..."
2,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,"[Rooms, are, nice, but, for, elderly, a, bit, ...","[Location, was, good, and, staff, were, ok, It..."
3,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,"[My, room, was, dirty, and, I, was, afraid, to...","[Great, location, in, nice, surroundings, the,..."
4,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,"[You, When, I, booked, with, your, company, on...","[Amazing, location, and, building, Romantic, s..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,7.0,"[' Leisure trip ', ' Family with older childre...",704 day,"[no, trolly, or, staff, to, help, you, take, t...",[location]
515734,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,5.8,"[' Leisure trip ', ' Family with young childre...",712 day,"[The, hotel, looks, like, 3, but, surely, not, 4]","[Breakfast, was, ok, and, we, got, earlier, ch..."
515735,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,2.5,"[' Leisure trip ', ' Family with older childre...",715 day,"[The, ac, was, useless, It, was, a, hot, week,...","[No, Positive]"
515736,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,8.8,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,"[No, Negative]","[The, rooms, are, enormous, and, really, comfo..."
515737,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,8.3,"[' Leisure trip ', ' Family with young childre...",725 day,"[I, was, in, 3rd, floor, It, didn, t, work, Fr...","[staff, was, very, kind]"

Stop word removal

In [12]:
from nltk.corpus import stopwords

In [13]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [16]:
def remove_stop_words(tokens):
    stop_words = set(stopwords.words('english'))
    stop_words.discard('no')
    stop_words.discard('not')
    filtered_tokens = [token for token in tokens if token.lower() not in stop_words]
    return filtered_tokens

Test if "No" and "Not" are not removed during stop words removal

In [17]:
Hotel_df['Negative_Review_tokenized_SWR'] = Hotel_df['Negative_Review_tokenized'].apply(remove_stop_words)
Hotel_df['Positive_Review_tokenized_SWR'] = Hotel_df['Positive_Review_tokenized'].apply(remove_stop_words)

In [ ]:
Hotel_df

POS-tagging, might be redundant based on how the code looks after lemmitization

In [18]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [19]:
from nltk import pos_tag

In [20]:
Hotel_df['Negative_Review_tokenized_SWR_POS'] = Hotel_df['Negative_Review_tokenized_SWR'].apply(lambda x: pos_tag(x))
Hotel_df['Positive_Review_tokenized_SWR_POS'] = Hotel_df['Positive_Review_tokenized_SWR'].apply(lambda x: pos_tag(x))

In [ ]:
Hotel_df

Lemmatization part

In [22]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [23]:
from nltk.stem import WordNetLemmatizer

In [24]:
lemmatizer = WordNetLemmatizer()

In [25]:
def lemmatize_tokens(tokens):
    return [lemmatizer.lemmatize(token) for token in tokens]

In [28]:
def lemmatize_tokens(tagged_tokens):
    lemmatized_tokens = []
    for token, pos_tag in tagged_tokens:
        pos = pos_tag[0].lower() if pos_tag else 'n'
        pos = pos if pos in ['a', 'r', 'n', 'v'] else 'n'
        lemmatized_tokens.append(lemmatizer.lemmatize(token, pos))
    return lemmatized_tokens

In [29]:
Hotel_df['Negative_Review_tokenized_SWR_POS_Lem'] = Hotel_df['Negative_Review_tokenized_SWR_POS'].apply(lemmatize_tokens)
Hotel_df['Positive_Review_tokenized_SWR_POS_Lem'] = Hotel_df['Positive_Review_tokenized_SWR_POS'].apply(lemmatize_tokens)

In [30]:
Hotel_df

,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,...,Tags,days_since_review,Negative_Review_tokenized,Positive_Review_tokenized,Negative_Review_tokenized_SWR,Positive_Review_tokenized_SWR,Negative_Review_tokenized_SWR_POS,Positive_Review_tokenized_SWR_POS,Negative_Review_tokenized_SWR_POS_Lem,Positive_Review_tokenized_SWR_POS_Lem
0,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,"[I, am, so, angry, that, i, made, this, post, ...","[Only, the, park, outside, of, the, hotel, was...","[angry, made, post, available, via, possible, ...","[park, outside, hotel, beautiful]","[(angry, JJ), (made, VBD), (post, NN), (availa...","[(park, NN), (outside, JJ), (hotel, NN), (beau...","[angry, make, post, available, via, possible, ...","[park, outside, hotel, beautiful]"
1,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,...,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,"[No, Negative]","[No, real, complaints, the, hotel, was, great,...","[No, Negative]","[No, real, complaints, hotel, great, great, lo...","[(No, DT), (Negative, NNP)]","[(No, DT), (real, JJ), (complaints, NNS), (hot...","[No, Negative]","[No, real, complaint, hotel, great, great, loc..."
2,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,...,"[' Leisure trip ', ' Family with young childre...",3 days,"[Rooms, are, nice, but, for, elderly, a, bit, ...","[Location, was, good, and, staff, were, ok, It...","[Rooms, nice, elderly, bit, difficult, rooms, ...","[Location, good, staff, ok, cute, hotel, break...","[(Rooms, NNP), (nice, RB), (elderly, RB), (bit...","[(Location, NN), (good, JJ), (staff, NN), (ok,...","[Rooms, nice, elderly, bit, difficult, room, t...","[Location, good, staff, ok, cute, hotel, break..."
3,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,...,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,"[My, room, was, dirty, and, I, was, afraid, to...","[Great, location, in, nice, surroundings, the,...","[room, dirty, afraid, walk, barefoot, floor, l...","[Great, location, nice, surroundings, bar, res...","[(room, NN), (dirty, NN), (afraid, JJ), (walk,...","[(Great, NNP), (location, NN), (nice, JJ), (su...","[room, dirty, afraid, walk, barefoot, floor, l...","[Great, location, nice, surroundings, bar, res..."
4,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,...,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,"[You, When, I, booked, with, your, company, on...","[Amazing, location, and, building, Romantic, s...","[booked, company, line, showed, pictures, room...","[Amazing, location, building, Romantic, setting]","[(booked, VBN), (company, NN), (line, NN), (sh...","[(Amazing, VBG), (location, NN), (building, NN...","[book, company, line, show, picture, room, thi...","[Amazing, location, building, Romantic, setting]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515733,8/30/2015,8.1,Atlantis Hotel Vienna,Kuwait,no trolly or staff to help you take the lugga...,14,2823,location,2,8,...,"[' Leisure trip ', ' Family with older childre...",704 day,"[no, trolly, or, staff, to, help, you, take, t...",[location],"[no, trolly, staff, help, take, luggage, room]",[location],"[(no, DT), (trolly, RB), (staff, NN), (help, N...","[(location, NN)]","[no, trolly, staff, help, take, luggage, room]",[location]
515734,8/22/2015,8.1,Atlantis Hotel Vienna,Estonia,The hotel looks like 3 but surely not 4,11,2823,Breakfast was ok and we got earlier check in,11,12,...,"[' Leisure trip ', ' Family with young childre...",712 day,"[The, hotel, looks, like, 3, but, surely, not, 4]","[Breakfast, was, ok, and, we, got, earlier, ch...","[hotel, looks, like, 3, surely, not, 4]","[Breakfast, ok, got, earlier, check]","[(hotel, NN), (looks, VBZ), (like, IN), (3, CD...","[(Breakfast, NNP), (ok, NN), (got, VBD), (earl...","[hotel, look, like, 3, surely, not, 4]","[Breakfast, ok, get, earlier, check]"
515735,8/19/2015,8.1,Atlantis Hotel Vienna,Egypt,The ac was useless It was a hot week in vienn...,19,2823,No Positive,0,3,...,"[' Leisure trip ', ' Family with older childre...",715 day,"[The, ac, was, useless, It, was, a, hot, week,...","[No, Positive]","[ac, useless, hot, week, vienna, gave, hot, air]","[No, Positive]","[(ac, JJ), (useless, JJ), (hot, JJ), (week, NN...","[(No, DT), (Positive, NNP)]","[ac, useless, hot, week, vienna, give, hot, air]","[No, Positive]"
515736,8/17/2015,8.1,Atlantis Hotel Vienna,Mexico,No Negative,0,2823,The rooms are enormous and really comfortable...,25,3,...,"[' Leisure trip ', ' Group ', ' Standard Tripl...",717 day,"[No, Negative]","[The, rooms, are, enormous, and, really, comfo...","[No, Negative]","[rooms, enormous, really, comfortable, believe...","[(No, DT), (Negative, NNP)]","[(rooms, NNS), (enormous, JJ), (really, RB), (...","[No, Negative]","[room, enormous, really, comfortable, believe,..."
515737,8/9/2015,8.1,Atlantis Hotel Vienna,Hungary,I was in 3rd floor It didn t work Free Wife,13,2823,staff was very kind,6,1,...,"[' Leisure trip ', ' Family with young childre...",725 day,"[I, was, in, 3rd, floor, It, didn, t, work, Fr...","[staff, was, very, kind]","[3rd, floor, work, Free, Wife]","[staff, kind]","[(3rd, CD), (floor, NN), (work, NN), (Free, NN...","[(staff, NN), (kind, NN)]","[3rd, floor, work, Free, Wife]","[staff, kind]"

Feature Extraction

Sentiment Analysis